$tabbar-strip-background-color: $orange !dynamic;
$tabbar-scroller-opacity: 1 !dynamic;
$tabbar-scroller-opacity-over: .8 !dynamic;
$tabbar-scroller-opacity-pressed: .6 !dynamic;
$tabbar-scroller-opacity-disabled: .3 !dynamic;
