$fieldset-header-font-size: round($font-size * 1.15) !dynamic;
$fieldset-header-line-height: 20px !dynamic;
$fieldset-header-color: $neutral-dark-color !dynamic;
$fieldset-border-color: $form-field-border-color !dynamic;
$fieldset-padding: 5px 15px !dynamic;
