/**
 * @class Ext.form.Panel
 */

/**
 * @var {color} $form-bg-color
 * Default background-color for forms.
 */
$form-bg-color: #eee !dynamic;

/**
 * @var {color} $form-light
 * Light color for form fields, mostly used on field borders.
 */
$form-light: #ddd !dynamic;

/**
 * @var {color} $form-dark
 * Dark color for form fields, mostly used on labels/text.
 */
$form-dark: #333 !dynamic;

/**
 * @var {measurement} $form-spacing
 * Default spacing for form fields, used for padding, etc.
 */
$form-spacing: .6em !dynamic;

/**
 * @var {measurement} $form-label-width
 * Default width for form labels.
 */
$form-label-width: 6em !dynamic;

/**
 * @var {color} $form-label-background-color
 * The default background color for labels
 */
$form-label-background-color: lighten($form-light, 10%) !dynamic;



// field vars defined here because they depend on form panel vars
/**
 * @class Ext.field.Field
 */

/**
 * @var {color} $form-field-bg-color
 * Default background-color for form fields.
 */
$form-field-bg-color: #fff !dynamic;

/**
* @var {color} $form-field-light
* Light Color for form fields
*
*/
$form-field-light: #ddd !dynamic;

/**
 * @var {color} $form-field-color
 * Default font color for form fields.
 */
$form-field-color: invert($form-field-bg-color) !dynamic;

/**
 * @var {color} $form-field-border-bottom-color
 * Default border bottom color for the fields in the fieldset.
 */
$form-field-border-bottom-color: $form-field-light !dynamic;

/**
 * @var {measurement} $form-field-border-bottom-width
 * Default border bottom width for the fields in the fieldset.
 */
$form-field-border-bottom-width: 1px !dynamic;

/**
 * @var {color} $form-field-label-bg-color
 * Default background color for form field labels.
 */
$form-field-label-bg-color: $form-label-background-color !dynamic;

/**
 * @var {color} $form-field-label-color
 * Default font color for form field labels.
 */
$form-field-label-color: invert($form-field-label-bg-color) !dynamic;

/**
 * @var {measurement} $form-field-label-border-top-width
 * Default border width for the top border of field label.
 */
$form-field-label-border-top-width: 1px !dynamic;

/**
 * @var {color} $form-field-label-border-top-color
 * Default border color for the top border of field label.
 */
$form-field-label-border-top-color: lighten($form-field-light, 20%) !dynamic;

/**
 * @var {boolean} $form-field-label-text-shadow
 * Default text shadow setting for the field label.
 */
$form-field-label-text-shadow: true !dynamic;

/**
 * @var {measurement} $form-field-height
 * Default height for form fields.
 */
$form-field-height: 2.5em !dynamic;