$ext-ux-dashboard-google-rss-font-family: helvetica, arial, verdana, sans-serif !dynamic;

$ext-ux-dashboard-google-rss-title-font-weight: bold !dynamic;

$ext-ux-dashboard-google-rss-author-color: #aaa !dynamic;

$ext-ux-dashboard-google-rss-preview-width: 16px !dynamic;
$ext-ux-dashboard-google-rss-preview-height: 16px !dynamic;
