$tag-field-item-close-icon-size: 18px !dynamic;
$tag-field-item-close-icon-top: 2px !dynamic;
$tag-field-item-close-icon-right: 2px !dynamic;

$tag-field-padding: 3px 0 0 4px !dynamic;
$tag-field-item-height: 24px !dynamic;
$tag-field-item-margin: 0 4px 3px 0 !dynamic;
