$grid-column-header-color: $highlight-color !dynamic;
$grid-column-header-line-height: round($grid-column-header-font-size * 1.45) !dynamic;
$grid-column-header-font-weight: $font-weight-bold !dynamic;
$grid-column-header-border-width: 0 !dynamic;
