$form-field-padding: 5px 10px 4px !dynamic;
$form-item-margin-bottom: 10px !dynamic;
$form-field-border-color: $neutral-color !dynamic;
$form-field-height: 32px !dynamic;
$form-trigger-width: 32px !dynamic;
$form-trigger-glyph-color: $neutral-dark-color !dynamic;
$form-checkbox-size: 20px !dynamic;
$form-checkbox-glyph-color: $neutral-dark-color !dynamic;
$form-textarea-line-height: round($form-text-field-font-size * 1.5) !dynamic;
