/** @class Ext.slider.Multi */
//

$horizontal-slider-thumb-width: 14px !dynamic;
$vertical-slider-thumb-height: 14px !dynamic;

$slider-outline-width-focus: 1px !dynamic;
$slider-outline-style-focus: dotted !dynamic;
$slider-outline-color-focus: #333 !dynamic;
