$grid-grouped-title-color: $highlight-color !dynamic;
$grid-grouped-title-font-size: $font-size !dynamic;
$grid-grouped-header-padding: 8px !dynamic;
$grid-grouped-header-background-color: #fff !dynamic;
$grid-grouped-title-glyph-color: $neutral-dark-color !dynamic;
$grid-grouped-icon-padding: 0 0 0 20px !dynamic;
