$panel-header-background-color: #3a4155 !dynamic;
$panel-header-color: #fff !dynamic;
$panel-body-background-color: #232d38 !dynamic;
$panel-body-color: #fff !dynamic;
$panel-border-color: $panel-header-background-color !dynamic;
$panel-frame-background-color: #3f4757 !dynamic;