$tag-field-item-background-color: $panel-base-color !dynamic;
$tag-field-item-border-color: darken($panel-base-color, 10%) !dynamic;
$tag-field-item-over-background-color: darken($tag-field-item-background-color, 6.66%) !dynamic;
$tag-field-item-over-border-color: darken($tag-field-item-border-color, 26.27%) !dynamic;
$tag-field-item-selected-background-color: desaturate(lighten($base-color, 43%), 2%) !dynamic;
$tag-field-item-selected-color: #000 !dynamic;
$tag-field-item-selected-border-color: $base-color !dynamic;