$button-default-background-gradient: null !dynamic;
$button-default-background-gradient-over: null !dynamic;
$button-default-background-gradient-pressed: null !dynamic;
$button-default-background-gradient-disabled: null !dynamic;
$button-toolbar-background-gradient: null !dynamic;
$button-toolbar-background-gradient-over: null !dynamic;
$button-toolbar-background-gradient-pressed: null !dynamic;
$button-toolbar-background-gradient-disabled: null !dynamic;

$button-default-border-color: $base-color !dynamic;
$button-toolbar-border-color: $neutral-medium-dark-color !dynamic;
