$button-small-icon-size: 24px !dynamic;
$button-small-font-size: 15px !dynamic;
$button-small-line-height: 20px !dynamic;
$button-small-padding: 3px 4px !dynamic;
$button-small-text-padding: 6px !dynamic;
$button-small-arrow-width: 22px !dynamic;
$button-small-arrow-height: 16px !dynamic;
$button-small-split-width: 30px !dynamic;
$button-small-split-height: 24px !dynamic;
$button-medium-icon-size: 24px !dynamic;
$button-medium-padding: 6px 4px !dynamic;
$button-medium-text-padding: 8px !dynamic;
$button-medium-arrow-width: 26px !dynamic;
$button-medium-arrow-height: 18px !dynamic;
$button-medium-split-width: 36px !dynamic;
$button-medium-split-height: 30px !dynamic;
$button-medium-font-size: 16px !dynamic;
$button-medium-line-height: 22px !dynamic;
$button-large-padding: 5px 4px !dynamic;
$button-large-text-padding: 10px !dynamic;
$button-large-arrow-width: 30px !dynamic;
$button-large-arrow-height: 24px !dynamic;
$button-large-split-width: 42px !dynamic;
$button-large-split-height: 36px !dynamic;
$button-large-font-size: 17px !dynamic;
$button-medium-line-height: 24px !dynamic;
