$grid-column-header-color: #fff !dynamic;

$grid-column-header-focus-color: #000 !dynamic;
$grid-column-header-focus-background-color: $orange !dynamic;

$grid-column-header-focus-border-width: 0px !dynamic;
