$grid-header-background-color: #373c4b !dynamic;
$grid-header-over-background-color: #496085 !dynamic;
$grid-header-sort-icon-width: 15px !dynamic;
$grid-header-selected-cell-background-color: $orange !dynamic;

