$datepicker-item-height: 32px !dynamic;
$datepicker-item-width: 40px !dynamic;
$datepicker-item-padding: 0 11px 0 0 !dynamic;
$datepicker-monthpicker-item-height: 32px !dynamic;
$datepicker-monthpicker-item-margin: 6px 5px 7px !dynamic;
$datepicker-monthpicker-small-item-margin: 2px 5px 3px !dynamic;
$datepicker-header-padding: 7px 6px !dynamic;
$datepicker-arrow-width: 32px !dynamic;
$datepicker-arrow-height: 32px !dynamic;
$datepicker-month-button-arrow-width: 16px !dynamic;
$datepicker-footer-padding: 6px 0 !dynamic;
$datepicker-next-background-position: center center !dynamic;
$datepicker-prev-background-position: center center !dynamic;
$datepicker-monthpicker-next-background-position: center center !dynamic;
$datepicker-monthpicker-next-background-position-over: center center !dynamic;
$datepicker-monthpicker-prev-background-position: center center !dynamic;
$datepicker-monthpicker-prev-background-position-over: center center !dynamic;