/** @class Ext.panel.Panel */
//

$panel-header-color: #fff !dynamic;
$panel-header-text-transform: none !dynamic;
$panel-header-line-height: 16px !dynamic;
$panel-header-font-weight: $font-weight-bold !dynamic;
$panel-header-padding: 9px 9px 10px !dynamic;
$panel-border-width: 1px !dynamic;
$panel-body-border-color: $neutral-medium-dark-color !dynamic;
$panel-header-border-width: 1px !dynamic;
$panel-body-border-width: 1px !dynamic;
$panel-frame-border-width: 5px !dynamic;
$panel-frame-header-border-width: $panel-frame-border-width !dynamic;
$panel-tool-spacing: 6px !dynamic;
$panel-frame-padding: 0 !dynamic;

$panel-frame-header-padding:
    max(top($panel-header-padding) + top($panel-header-border-width) - top($panel-frame-header-border-width), 0)
    max(right($panel-header-padding) + right($panel-header-border-width) - right($panel-frame-header-border-width), 0)
    max(bottom($panel-header-padding) - bottom($panel-frame-header-border-width), 0)
    max(left($panel-header-padding) + left($panel-header-border-width) - left($panel-frame-header-border-width), 0)
    !dynamic;

$panel-header-icon-width: 16px !dynamic;
$panel-header-icon-height: 16px !dynamic;
$panel-header-icon-spacing: 6px !dynamic;

$panel-tool-focus-outline-color: #fff !dynamic;
$panel-tool-focus-outline-offset: 1px !dynamic;

// panel-light vars
$panel-light-header-font-family: $font-family !dynamic;
$panel-light-header-font-size: $font-size !dynamic;
$panel-light-header-font-weight: $panel-header-font-weight !dynamic;
$panel-light-header-color: #666 !dynamic;
$panel-light-header-background-color: mix($base-light-color, $neutral-light-color, 30%) !dynamic;
$panel-light-header-text-transform: none !dynamic;
$panel-light-border-color: $panel-light-header-background-color !dynamic;
$panel-light-header-border-color: $panel-light-border-color !dynamic;
$panel-light-body-border-color: $panel-light-border-color !dynamic;
$panel-light-tool-background-image: 'tools/tool-sprites-dark' !dynamic;
$panel-light-tool-focus-outline-color: $base-color !dynamic;
$panel-light-tool-glyph-color: $panel-light-header-color !dynamic;

$panel-light-frame-border-color: $panel-light-border-color !dynamic;
$panel-include-border-management-rules: true !dynamic;

/**
 * @var {boolean}
 * True to include the "light" panel UI
 */
$include-panel-light-ui: $include-default-uis !dynamic;

/**
 * @var {boolean}
 * True to include the "light-framed" panel UI
 */
$include-panel-light-framed-ui: $include-default-uis !dynamic;
