/** @class Ext.LoadMask */
//

$loadmask-opacity: 0.7 !dynamic;
$loadmask-background-color: #fff !dynamic;
$loadmask-msg-padding: 8px !dynamic;
$loadmask-msg-background-color: #e5e5e5 !dynamic;
$loadmask-msg-inner-icon-position: center 0 !dynamic;
$loadmask-msg-inner-color: #666 !dynamic;
$loadmask-msg-inner-background-color: transparent !dynamic;
$loadmask-msg-inner-padding: 0 !dynamic;
$loadmask-msg-text-padding: 21px 0 0 !dynamic;
$loadmask-msg-border-width: 0 !dynamic;
$loadmask-msg-inner-border-width: 0 !dynamic;
$loadmask-msg-border-radius: 3px !dynamic;
