/** @class Ext.ProgressBar */
//

$progress-background-color: $neutral-light-color !dynamic;
$progress-bar-background-color: mix(#fff, $base-light-color, 25%) !dynamic;
$progress-border-width: 0 !dynamic;
$progress-text-color-front: #666 !dynamic;
$progress-text-color-back: #666 !dynamic;