/**
 * @class Ext.grid.feature.RowBody
 */

/**
 * @var {number}
 * The font-size of the RowBody
 */
$grid-row-body-font-size: $grid-row-cell-font-size !dynamic;

/**
 * @var {number}
 * The line-height of the RowBody
 */
$grid-row-body-line-height: $grid-row-cell-line-height !dynamic;

/**
 * @var {string}
 * The font-family of the RowBody
 */
$grid-row-body-font-family: $grid-row-cell-font-family !dynamic;

/**
 * @var {number}
 * The font-weight of the RowBody
 */
$grid-row-body-font-weight: $grid-row-cell-font-weight !dynamic;

// private
$grid-row-body-font: $grid-row-body-font-weight #{$grid-row-body-font-size}/#{$grid-row-body-line-height} $grid-row-body-font-family !dynamic;

/**
 * @var {number/list}
 * The padding of the RowBody
 */
$grid-row-body-padding: 5px right($grid-cell-inner-padding) 5px left($grid-cell-inner-padding) !dynamic;