$datepicker-header-background-color: $neutral-highlight-color !dynamic;
$datepicker-month-button-color: $color !dynamic;
$datepicker-month-button-font-size: round($font-size * 1.15) !dynamic;
$datepicker-month-button-padding: 14px !dynamic;
$datepicker-header-padding: 0 !dynamic;
$datepicker-month-button-over-background-color: darken($datepicker-header-background-color, 5%) !dynamic;
$datepicker-month-button-pressed-background-color: darken($datepicker-header-background-color, 10%) !dynamic;
$datepicker-month-button-arrow-width: 16px !dynamic;
$datepicker-footer-padding: 6px 0 !dynamic;
$datepicker-arrow-height: vertical($datepicker-month-button-padding) + $button-small-icon-size !dynamic;
$datepicker-arrow-width: 32px !dynamic;
$datepicker-arrow-glyph-color: $neutral-dark-color !dynamic;
$datepicker-item-border-width: 0 !dynamic;
$datepicker-item-height: 36px !dynamic;
$datepicker-item-width: 44px !dynamic;
$datepicker-monthpicker-item-height: 37px !dynamic;
$datepicker-item-padding: 0 15px 0 0 !dynamic;
$datepicker-column-header-item-padding: $datepicker-item-padding !dynamic;
$datepicker-item-selected-font-weight: $font-weight !dynamic;
$datepicker-item-selected-background-color: $base-color !dynamic;
$datepicker-item-today-background-color: $base-light-color !dynamic;
$datepicker-item-hover-background-color: $neutral-highlight-color !dynamic;
$datepicker-column-header-background-color: $datepicker-header-background-color !dynamic;
$datepicker-item-prev-next-color: $neutral-color !dynamic;
$datepicker-item-selected-color: #fff !dynamic;
$datepicker-monthpicker-yearnav-button-height: 16px !dynamic;
$datepicker-monthpicker-yearnav-button-width: 16px !dynamic;
$datepicker-footer-background-color: $datepicker-background-color !dynamic;
