/** @class Ext.picker.Date */
//

$datepicker-header-background-color: #6f6f6f !dynamic;
$datepicker-border-color: #585858 !dynamic;
$datepicker-column-header-background-color: #e9e9e9 !dynamic;
$datepicker-item-selected-background-color: #d8d8d8 !dynamic;
$datepicker-item-hover-background-color: transparent !dynamic;