$menu-item-height: 32px !dynamic;
$menu-item-arrow-height: 18px !dynamic;
$menu-item-arrow-width: 18px !dynamic;
$menu-item-icon-size: 24px !dynamic;
$menu-scroller-height: 32px !dynamic;
$menu-scroller-width: 32px !dynamic;
