/** @class Ext.toolbar.Toolbar */
//

$toolbar-background-color: #fff !dynamic;
$toolbar-border-width: 1px !dynamic;
$toolbar-border-color: $neutral-medium-dark-color !dynamic;
$toolbar-horizontal-spacing: 8px !dynamic;
$toolbar-vertical-spacing: 6px !dynamic;
$toolbar-footer-vertical-spacing: 6px !dynamic;
$toolbar-footer-background-color: mix($base-light-color, $neutral-light-color, 30%) !dynamic;

$toolbar-scroller-width: 16px !dynamic;
$toolbar-scroller-height: 16px !dynamic;
$toolbar-scroller-border-width: 0 !dynamic;
$toolbar-scroller-glyph-color: $neutral-dark-color !dynamic;

//separator
$toolbar-separator-color: $neutral-color !dynamic;
$toolbar-separator-horizontal-border-width: 0 0 0 1px !dynamic;
$toolbar-separator-vertical-border-width: 1px 0 0 !dynamic;

$toolbar-tool-background-image: 'tools/tool-sprites-dark' !dynamic;
