/** @class Ext.tip.Tip */
//

$tip-base-color: adjust-color($base-color, $hue: 2.121deg, $saturation: 44.444%, $lightness: 11.569%) !dynamic;
$tip-background-color: $tip-base-color !dynamic;
$tip-body-color: adjust-color($neutral-color, $hue: 0deg, $saturation: 0%, $lightness: -66.667%) !dynamic;
$tip-tool-spacing: 6px !dynamic;
$tip-body-font-size: ceil($font-size * .9) !dynamic;
$tip-body-link-color: darken($tip-body-color, 10%) !dynamic;
$tip-border-color: adjust-color($tip-base-color, $hue: -1.705deg, $saturation: -60.494%, $lightness: -27.451%) !dynamic;
$tip-error-background-color: #fff !dynamic;
$tip-error-inner-border-color: #d87166 !dynamic;
$tip-error-inner-border-width: 1px !dynamic;
$tip-error-border-color: #a1311f !dynamic;
$tip-error-border-radius: 5px !dynamic;
$tip-error-border-width: 1px !dynamic;
$tip-error-body-padding: 3px 3px 3px 22px !dynamic;