/**
 * @class Ext.grid.property.Grid
 */

/**
 * @var {string}
 * The background-image of property grid cells
 */
$grid-property-cell-background-image: 'none' !dynamic;

/**
 * @var {string}
 * The background-position of property grid cells
 */
$grid-property-cell-background-position: 'none' !dynamic;

/**
 * @var {number/string}
 * The padding to add before the text of property grid cells to make room for the
 * background-image. Only applies if $grid-property-cell-background-image is not null
 */
$grid-property-cell-before-padding: 'none' !dynamic;