/** @class Ext.tip.Tip */
//

$tip-background-color: mix($base-light-color, #fff, 25%) !dynamic;
$tip-border-color: $neutral-color !dynamic;
$tip-error-body-padding: 3px 3px 3px 22px !dynamic;
$tip-tool-spacing: 6px !dynamic;
$tip-tool-background-image: 'tools/tool-sprites-dark' !dynamic;