/** @class Ext.form.field.Base */
//

$form-field-padding: 4px 6px 3px !dynamic;

$form-field-height: 24px !dynamic;

// private
$form-field-border-accent-color: mix(#fff, $neutral-medium-dark-color, 40%) !dynamic;

$form-field-border-color: $neutral-medium-dark-color $form-field-border-accent-color $form-field-border-accent-color !dynamic;
$form-field-border-width: 1px !dynamic;
$form-field-invalid-border-color: $error-color !dynamic;
$form-field-focus-border-color: mix(#fff, #157fcc, 15%) !dynamic;
$form-field-background-image: 'none' !dynamic;
$form-field-invalid-background-image: 'none' !dynamic;
