/** @class Ext.picker.Color */
//

$colorpicker-item-height: 24px !dynamic;
$colorpicker-item-width: 24px !dynamic;
$colorpicker-item-border-color-over: #8bb8f3 !dynamic;
$colorpicker-item-background-color-over: mix($neutral-light-color, $neutral-color, 25%) !dynamic;
