/** @class Ext.picker.Date */
//

$datepicker-background-color: #fff !dynamic;
$datepicker-border-color: $neutral-color !dynamic;
$datepicker-arrow-width: 12px !dynamic;
$datepicker-arrow-height: 12px !dynamic;
$datepicker-arrow-opacity: .7 !dynamic;
$datepicker-arrow-opacity-over: 1 !dynamic;
$datepicker-month-button-arrow-width: 8px !dynamic;
$datepicker-header-background-color: $neutral-light-color !dynamic;
$datepicker-column-header-color: $color !dynamic;
$datepicker-column-header-border-color: $neutral-color !dynamic;
$datepicker-column-header-background-color: $datepicker-background-color !dynamic;
$datepicker-item-hover-background-color: mix(#fff, $base-light-color, 75%) !dynamic;
$datepicker-item-selected-background-color: mix(#fff, $base-light-color, 50%) !dynamic;
$datepicker-item-selected-border-color: $base-highlight-color !dynamic;
$datepicker-item-today-border-color: darkred !dynamic;
$datepicker-column-header-border-width: 0 !dynamic;
$datepicker-column-header-font-weight: $font-weight-bold !dynamic;
$datepicker-footer-border-width: $datepicker-column-header-border-width !dynamic;
$datepicker-footer-background-color: $datepicker-header-background-color !dynamic;
$datepicker-footer-button-spacing: 5px !dynamic;
$datepicker-month-button-color: $base-highlight-color !dynamic;
$datepicker-monthpicker-yearnav-button-height: $datepicker-arrow-height !dynamic;
$datepicker-monthpicker-yearnav-button-width: $datepicker-arrow-width !dynamic;
$datepicker-monthpicker-yearnav-button-opacity: $datepicker-arrow-opacity !dynamic;
$datepicker-monthpicker-yearnav-button-opacity-over: $datepicker-arrow-opacity-over !dynamic;

$datepicker-footer-border-color: $datepicker-column-header-border-color !dynamic;
