/**
 * @class Ext.view.BoundList
 */

/**
 * @var {color}
 * The background-color of the BoundList
 */
$boundlist-background-color: #fff !dynamic;


/**
 * @var {color}
 * The border-color of the BoundList
 */
$boundlist-border-color: $neutral-color !dynamic;

/**
 * @var {number}
 * The border-width of the BoundList
 */
$boundlist-border-width: 1px !dynamic;

/**
 * @var {string}
 * The border-style of the BoundList
 */
$boundlist-border-style: solid !dynamic;

/**
 * @var {number}
 * The height of BoundList items
 */
$boundlist-item-height: 22px !dynamic;

/**
 * @var {string}
 * The font family of the BoundList items
 */
$boundlist-item-font-family: $font-family !dynamic;

/**
 * @var {number}
 * The font size of the BoundList items
 */
$boundlist-item-font-size: $font-size !dynamic;

/**
 * @var {string}
 * The font-weight of the BoundList items
 */
$boundlist-item-font-weight: normal !dynamic;

/**
 * @var {color}
 * The text color of the BoundList items
 */
$boundlist-item-text-color: $color !dynamic;

/**
 * @var {color}
 * The text color of hovered BoundList items
 */
$boundlist-item-over-text-color: $boundlist-item-text-color !dynamic;

/**
 * @var {color}
 * The text color of selected BoundList items
 */
$boundlist-item-selected-text-color: $boundlist-item-text-color !dynamic;

/**
 * @var {number/list}
 * The padding of BoundList items
 */
$boundlist-item-padding: 0 3px !dynamic;

/**
 * @var {number}
 * The border-width of BoundList items
 */
$boundlist-item-border-width: 1px !dynamic;

/**
 * @var {string}
 * The border-style of BoundList items
 */
$boundlist-item-border-style: dotted !dynamic;

/**
 * @var {color}
 * The border-color of BoundList items
 */
$boundlist-item-border-color: $boundlist-background-color !dynamic;

/**
 * @var {color}
 * The border-color of hovered BoundList items
 */
$boundlist-item-over-border-color: $base-color !dynamic;

/**
 * @var {color}
 * The border-color of selected BoundList items
 */
$boundlist-item-selected-border-color: $base-color !dynamic;

/**
 * @var {color}
 * The background-color of hovered BoundList items
 */
$boundlist-item-over-background-color: $base-color !dynamic;

/**
 * @var {color}
 * The background-color of selected BoundList items
 */
$boundlist-item-selected-background-color: $base-color !dynamic;