/**
 * @class Ext.view.MultiSelector
 */

/**
 * @var {number}
 * The font-size for the multiselector's remove glyph.
 */
$multiselector-remove-font-size: 100% !dynamic;

/**
 * @var {number/list}
 * The padding of "Remove" cell's inner element
 */
$multiselector-remove-padding: $grid-cell-inner-padding !dynamic;

/**
 * @var {color}
 * The color for the multiselector's remove glyph.
 */
$multiselector-remove-text-color: $neutral-color !dynamic;

/**
 * @var {color}
 * The color for the multiselector's remove glyph during mouse over.
 */
$multiselector-remove-text-color-over: red !dynamic;

/**
 * @var {string}
 * The cursor style for the remove glyph.
 */
$multiselector-remove-cursor: pointer !dynamic;
