/** @class Ext.grid.column.Column */
//

$grid-column-header-font-weight: $font-weight-bold !dynamic;
$grid-column-header-color: #666 !dynamic;

$grid-column-header-focus-border-color: mix($grid-header-background-color, $base-color, 20%) !dynamic;

