/** @class Ext.panel.Panel */
//

$panel-base-color: adjust-color($base-color, $hue: 0deg, $saturation: 0.542%, $lightness: 7.843%) !dynamic; //#DFE8F6
$panel-border-color: adjust-color($base-color, $hue: 0deg, $saturation: 7.644%, $lightness: -8.627%) !dynamic;
$panel-header-border-color: $panel-border-color !dynamic;
$panel-header-font-size: ceil($font-size * .9) !dynamic; //11px
$panel-header-color: adjust-color($panel-base-color, $hue: 0deg, $saturation: 38.347%, $lightness: -63.725%) !dynamic;
$panel-header-line-height: 15px !dynamic;
$panel-header-padding: 5px !dynamic;
$panel-header-text-padding: 0 2px 1px !dynamic;
$panel-header-background-gradient: 'panel-header' !dynamic;
$panel-header-inner-border-color: adjust-color($panel-base-color, $hue: 0deg, $saturation: -6.098%, $lightness: 4.902%) !dynamic;
$panel-header-inner-border-width: 1px 0 0 !dynamic;
$panel-header-background-color: adjust-color($panel-base-color, $hue: 0deg, $saturation: 6.402%, $lightness: -4.51%) !dynamic;
$panel-frame-header-inner-border-color: $panel-header-inner-border-color !dynamic;
$panel-frame-header-inner-border-width: 1px 1px 0 !dynamic;
$panel-ghost-opacity: 0.65 !dynamic;
$panel-frame-base-color: $panel-base-color !dynamic;
$panel-frame-background-color: $panel-frame-base-color !dynamic;
$panel-frame-body-border-width: 0 !dynamic;
$panel-tool-spacing: 2px !dynamic;
$panel-header-icon-spacing: 2px !dynamic;
$panel-tool-focus-outline-color: adjust-color($neutral-color, $hue: 0deg, $saturation: 0%, $lightness: -66%) !dynamic;
$panel-tool-focus-outline-style: dotted !dynamic;
