/** @class Ext.container.ButtonGroup */
//

$btn-group-header-background-color: $panel-light-header-background-color !dynamic;
$btn-group-border-color: $btn-group-header-background-color !dynamic;
$btn-group-border-width: 1px !dynamic;
$btn-group-framed-border-width: 3px !dynamic;
$btn-group-framed-border-radius: 3px !dynamic;
$btn-group-header-color: $panel-light-header-color !dynamic;
$btn-group-header-font-size: $panel-light-header-font-size !dynamic;
$btn-group-header-font-weight: $font-weight !dynamic;
$btn-group-header-font-family: $panel-light-header-font-family !dynamic;
$btn-group-border-spacing: 5px !dynamic;
$btn-group-tool-background-image: 'tools/tool-sprites-dark' !dynamic;
