/** @class Ext.grid.property.Grid */
//

$grid-property-cell-background-image: 'grid/property-cell-bg' !dynamic;
$grid-property-cell-background-position: -16px 2px !dynamic;
$grid-property-cell-before-padding: 12px !dynamic;