$grid-lockable-separator-border-color: $grid-header-border-color !dynamic;
$grid-lockable-separator-border-width: top($grid-body-border-width) !dynamic;
$grid-lockable-body-border-width: $panel-body-border-width !dynamic;
