/** @class Ext.container.ButtonGroup */
//

$btn-group-background-color: #f0f0f0 !dynamic;
$btn-group-header-background-color: #dfdfdf !dynamic;
$btn-group-border-color: #d0d0d0 !dynamic;
$btn-group-header-color: #666 !dynamic;
$btn-group-inner-border-color: #ececec !dynamic;