/** @class Ext.grid.header.Container */
//

$grid-header-background-color: adjust-color($neutral-color, $hue: 0deg, $saturation: 0%, $lightness: -16.078%) !dynamic;
$grid-header-border-color: adjust-color($neutral-color, $hue: 0deg, $saturation: 0%, $lightness: -16.078%) !dynamic;
$grid-header-over-background-color: adjust-color($base-color, $hue: -0.175deg, $saturation: 25.296%, $lightness: -2.549%) !dynamic;
$grid-header-sort-icon-spacing: 3px !dynamic;
$grid-header-padding: 4px 6px 5px !dynamic;
$grid-header-trigger-background-image: 'grid/grid3-hd-btn' !dynamic;
