/** @class Ext.picker.Color */
//

$colorpicker-item-border-color-over: #8bb8f3 !dynamic;
$colorpicker-item-inner-border-color: #aca899 !dynamic;
$colorpicker-item-background-color-over: #deecfd !dynamic;