$tip-border-radius: 2px !dynamic;
$tip-body-color: $light-color !dynamic;
$tip-background-color: mix(#000, $neutral-dark-color, 20%) !dynamic;
$tip-border-color: $tip-background-color !dynamic;
$tip-body-padding: 6px 8px !dynamic;
