$boundlist-background-color: #404551 !dynamic;
$boundlist-border-color: #222732 !dynamic;
$boundlist-border-width: 2px !dynamic;
$boundlist-item-border-width: 0 !dynamic;
$boundlist-item-over-background-color: #e5872c !dynamic;
$boundlist-item-selected-background-color: #e5872c !dynamic;