$grid-cell-selected-color: black !dynamic;
$grid-cell-selected-background-color: $orange !dynamic;

$grid-row-cell-over-background-color: #7e55ef !dynamic;

$grid-row-cell-focus-border-width: 0 !dynamic;
