/** @class Ext.view.BoundList */
//

$boundlist-border-color: adjust-color($base-color, $hue: 0.58deg, $saturation: 25.146%, $lightness: -6.471%) !dynamic;
$boundlist-item-over-border-color: adjust-color($base-color, $hue: 6.952deg, $saturation: 5.848%, $lightness: -6.471%) !dynamic;
$boundlist-item-selected-border-color: darken($boundlist-item-over-border-color, 5) !dynamic;
$boundlist-item-over-background-color: adjust-color($base-color, $hue: 3.188deg, $saturation: 0.542%, $lightness: 7.843%) !dynamic;
$boundlist-item-selected-background-color: darken($boundlist-item-over-background-color, 5) !dynamic;