/** @class Ext.grid.header.Container */
//

$grid-header-background-color: $neutral-light-color !dynamic;
$grid-header-background-gradient: 'none' !dynamic;
$grid-header-border-color: $neutral-medium-dark-color !dynamic;
$grid-header-over-background-color: mix(#fff, $base-light-color, 80%) !dynamic;
$grid-header-over-background-gradient: 'none' !dynamic;
$grid-header-padding: 7px 10px !dynamic;
$grid-header-sort-icon-spacing: 8px !dynamic;
$grid-header-trigger-spacing: 4px !dynamic;
$grid-header-trigger-width: 18px !dynamic;
$grid-header-trigger-background-position: center center !dynamic;
$grid-header-open-background-color: $grid-header-over-background-color !dynamic;
$grid-header-trigger-background-color-open: mix($base-light-color, $neutral-light-color, 30%) !dynamic;