$btn-group-background-color: #393d4e !dynamic;
$btn-group-header-background-color: #676772 !dynamic;
$btn-group-border-color: #606068 !dynamic;
$btn-group-inner-border-color: #757478 !dynamic;
$btn-group-header-color: #D2D2D2 !dynamic;
$btn-group-tool-background-image: 'tools/tool-sprites' !dynamic;