$boundlist-item-height: 32px !dynamic;
$boundlist-item-padding: 0 10px !dynamic;
$boundlist-item-over-text-color: #fff !dynamic;
$boundlist-item-selected-text-color: #fff !dynamic;
$boundlist-item-over-background-color: $base-highlight-color !dynamic;
$boundlist-item-selected-background-color: $base-color !dynamic;
