$grid-paging-toolbar-glyph-color: $neutral-dark-color !dynamic;
$grid-paging-toolbar-glyph-font-size: 24px !dynamic;
$grid-paging-toolbar-refresh-glyph: $fa-var-refresh 16px $font-icon-font-family !dynamic;
