$toolbar-footer-background-color: $neutral-highlight-color !dynamic;
$toolbar-tool-glyph-color: $neutral-dark-color !dynamic;
$toolbar-scroller-width: 24px !dynamic;
$toolbar-scroller-height: 24px !dynamic;
$toolbar-border-color: $neutral-color !dynamic;
