/**
 * @class Ext.grid.column.Action
 */

/**
 * @var {number}
 * The height of action column icons
 */
$grid-actioncolumn-icon-height: 16px !dynamic;

/**
 * @var {number}
 * The width of action column icons
 */
$grid-actioncolumn-icon-width: 16px !dynamic;

/**
 * @var {string}
 * The type of cursor to display when the cursor is over an action column icon
 */
$grid-actioncolumn-icon-cursor: pointer !dynamic;

/**
 * @var {number}
 * The opacity of disabled action column icons
 */
$grid-actioncolumn-icon-opacity-disabled: .3 !dynamic;

/**
 * @var {color}
 * The default color to use for action column icon glyphs.
 */
$grid-actioncolumn-icon-glyph-color: gray !dynamic;

/**
 * @var {number}
 * The amount of padding to add to the left and right of the action column cell
 */
$grid-actioncolumn-horizontal-padding: 2px !dynamic;


//private
$grid-actioncolumn-cell-padding:
    max(ceil(($grid-row-height - $grid-actioncolumn-icon-height) / 2), 0)
    $grid-actioncolumn-horizontal-padding
    max(floor(($grid-row-height - $grid-actioncolumn-icon-height) / 2), 0)
    $grid-actioncolumn-horizontal-padding
    