/**
 * @class Ext.grid.column.Check
 */

/**
 * @var {number}
 * Opacity of disabled CheckColumns
 */
$grid-checkcolumn-disabled-opacity: 0.3 !dynamic;

/**
 * @var {color}
 * The color to use for the checkbox when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$grid-checkcolumn-glyph-color: $form-checkbox-glyph-color !dynamic;

/**
 * @var {string/list}
 * The glyph for the checkbox when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$grid-checkcolumn-glyph: $form-checkbox-glyph !dynamic;

/**
 * @var {string/list}
 * The glyph for the checkbox in "checked" state when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$grid-checkcolumn-checked-glyph: $form-checkbox-checked-glyph !dynamic;

$grid-checkcolumn-cell-padding:
    max(ceil(($grid-row-height - $form-checkbox-size) / 2), 0)
    right($grid-cell-inner-padding)
    max(floor(($grid-row-height - $form-checkbox-size) / 2), 0)
    left($grid-cell-inner-padding)
