$tree-elbow-width: 18px !dynamic;
$tree-glyph-color: $neutral-dark-color !dynamic;
$tree-elbow-spacing: 2px !dynamic;
$tree-checkbox-spacing: 4px !dynamic;
$tree-icon-spacing: 4px !dynamic;
$tree-cell-inner-padding:
    top($grid-cell-inner-padding)
    right($grid-cell-inner-padding)
    bottom($grid-cell-inner-padding)
    6px !dynamic;
