/**
 * @class Global_CSS
 */

/**
 * @var {color} $color
 * The default text color to be used throughout the theme.
 */
$color: #000 !dynamic;

/**
 * @var {string} $font-family
 * The default font-family to be used throughout the theme.
 */
$font-family: helvetica, arial, verdana, sans-serif !dynamic;

/**
 * @var {number} $font-size
 * The default font-size to be used throughout the theme.
 */
$font-size: 13px !dynamic;

/**
 * @var {string/number}
 * The default font-weight to be used throughout the theme.
 */
$font-weight: normal !dynamic;

/**
 * @var {string/number}
 * The default font-weight for bold font to be used throughout the theme.
 */
$font-weight-bold: bold !dynamic;

/**
 * @var {string/number} $line-height
 * The default line-height to be used throughout the theme.
 */
$line-height: normal !dynamic;

/**
 * @var {string} $base-gradient
 * The base gradient to be used throughout the theme.
 */
$base-gradient: 'matte' !dynamic;

/**
 * @var {color} $base-color
 * The base color to be used throughout the theme.
 */
$base-color: #808080 !dynamic;

/**
 * @var {color} $neutral-color
 * The neutral color to be used throughout the theme.
 */
$neutral-color: #dcdcdc !dynamic;

/**
 * @var {color} $body-background-color
 * Background color to apply to the body element.  If set to transparent or 'none' no
 * background-color style will be set on the body element.
 */
$body-background-color: transparent !dynamic;

/**
 * @var {boolean}
 * `true` to enable font icon support throughout the theme.
 */
$enable-font-icons: false !dynamic;

/**
 * @var {string}
 * The font-family to use for font icons throughout the theme.  Only applicable when
 * {@link Global_CSS#$enable-font-icons} is `true`.
 * @private
 */
$font-icon-font-family: FontAwesome !dynamic;
