/**
 * @class Ext.FocusManager
 */

/**
 * @var {color}
 * The border-color of the focusFrame.  See {@link #method-enable}.
 */
$focus-frame-color: rgb(21, 66, 139) !dynamic;

/**
 * @var {color}
 * The border-style of the focusFrame.  See {@link #method-enable}.
 */
$focus-frame-style: solid !dynamic;

/**
 * @var {color}
 * The border-width of the focusFrame.  See {@link #method-enable}.
 */
$focus-frame-width: 2px !dynamic;