/**
 * @class Ext.ProgressBar
 */

/**
 * @var {number}
 * The height of the ProgressBar
 */
$progress-height: 20px !dynamic;

/**
 * @var {color}
 * The border-color of the ProgressBar
 */
$progress-border-color: $base-color !dynamic;

/**
 * @var {number}
 * The border-width of the ProgressBar
 */
$progress-border-width: 1px !dynamic;

/**
 * @var {number}
 * The border-radius of the ProgressBar
 */
$progress-border-radius: 0 !dynamic;

/**
 * @var {color}
 * The background-color of the ProgressBar
 */
$progress-background-color: $base-color !dynamic;

/**
 * @var {color}
 * The background-color of the ProgressBar's moving element
 */
$progress-bar-background-color: $base-color !dynamic;

/**
 * @var {string/list}
 * The background-gradient of the ProgressBar's moving element. Can be either the name of
 * a predefined gradient or a list of color stops. Used as the `$type` parameter for
 * {@link Global_CSS#background-gradient}.
 */
$progress-bar-background-gradient: 'none' !dynamic;

/**
 * @var {color}
 * The color of the ProgressBar's text when in front of the ProgressBar's moving element
 */
$progress-text-color-front: #fff !dynamic;

/**
 * @var {color}
 * The color of the ProgressBar's text when the ProgressBar's 'moving element is not under it
 */
$progress-text-color-back: #000 !dynamic;

/**
 * @var {string}
 * The text-align of the ProgressBar's text
 */
$progress-text-text-align: center !dynamic;

/**
 * @var {number}
 * The font-size of the ProgressBar's text
 */
$progress-text-font-size: $font-size !dynamic;

/**
 * @var {string}
 * The font-weight of the ProgressBar's text
 */
$progress-text-font-weight: $font-weight-bold !dynamic;

/**
 * @var {string}
 * The font-family of the ProgressBar's text
 */
$progress-text-font-family: $font-family !dynamic;

/**
 * @var {boolean}
 * True to include the "default" ProgressBar UI
 */
$include-progress-default-ui: $include-default-uis !dynamic;