$loadmask-opacity: 0.5 !dynamic;
$loadmask-background-color: $neutral-color !dynamic;
$loadmask-page-opacity: 0.75 !dynamic;
$loadmask-page-background-color: #000 !dynamic;
$loadmask-msg-background-color: $neutral-color !dynamic;
$loadmask-msg-inner-color: $color !dynamic;
$loadmask-msg-padding: 10px !dynamic;
$loadmask-msg-border-radius: 0 !dynamic;
$loadmask-msg-text-padding: 25px 0 0 !dynamic;
