$progress-height: 24px !dynamic;
$progress-background-color: $neutral-highlight-color !dynamic;
$progress-bar-background-color: $base-highlight-color !dynamic;
$progress-text-color-front: #fff !dynamic;
$progress-text-color-back: $color !dynamic;
