/**
 * @class Ext.tree.View
 */

/**
 * @var {number} $tree-elbow-width
 * The width of the tree elbow/arrow icons
 */
$tree-elbow-width: 16px !dynamic;

/**
 * @var {number} $tree-icon-width
 * The width of the tree folder/leaf icons
 */
$tree-icon-width: 16px !dynamic;

/**
 * @var {number} $tree-elbow-spacing 
 * The amount of spacing between the tree elbows or arrows, and the checkbox or icon.
 */
$tree-elbow-spacing: 0 !dynamic;

/**
 * @var {number} $tree-checkbox-spacing
 * The amount of space (in pixels) between the tree checkbox and the folder/leaf icon
 */
$tree-checkbox-spacing: 3px !dynamic;

/**
 * @var {number} $tree-icon-spacing
 * The amount of space (in pixels) between the folder/leaf icons and the text
 */
$tree-icon-spacing: 3px !dynamic;

/**
 * @var {string} $tree-expander-cursor
 * The type of cursor to display when the mouse is over a tree expander (+, - or arrow icon)
 */
$tree-expander-cursor: pointer !dynamic;

/**
 * @var {number/list}
 * The amount of padding to apply to the tree cell's inner div element
 */
$tree-cell-inner-padding:
    top($grid-cell-inner-padding)
    right($grid-cell-inner-padding)
    bottom($grid-cell-inner-padding)
    0 !dynamic;

/**
 * @var {number}
 * The font size to use for tree icons when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tree-glyph-font-size: 16px !dynamic;

/**
 * @var {color}
 * The color to use for tree icons when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tree-glyph-color: $color !dynamic;

/**
 * @var {string/list}
 * Glyph for the "folder" tree icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tree-folder-glyph: $fa-var-folder-o $tree-glyph-font-size $font-icon-font-family !dynamic;

/**
 * @var {color}
 * The color to use for the "folder" tree icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tree-folder-glyph-color: $tree-glyph-color !dynamic;

/**
 * @var {string/list}
 * Glyph for the "open folder" tree icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tree-folder-open-glyph: $fa-var-folder-open-o $tree-glyph-font-size $font-icon-font-family !dynamic;

/**
 * @var {color}
 * The color to use for the "open folder" tree icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tree-folder-open-glyph-color: $tree-folder-glyph-color !dynamic;

/**
* @var {string/list}
* Glyph for the "leaf" tree icon when {@link Global_CSS#$enable-font-icons} is `true`.
*/
$tree-leaf-glyph: $fa-var-file-o $tree-glyph-font-size $font-icon-font-family !dynamic;

/**
 * @var {color}
 * The color to use for the "leaf" tree icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tree-leaf-glyph-color: $tree-glyph-color !dynamic;

/**
* @var {string/list}
* Glyph for the "arrow" tree icon when {@link Global_CSS#$enable-font-icons} is `true`.
*/
$tree-arrow-glyph: $fa-var-caret-right $tree-glyph-font-size $font-icon-font-family !dynamic;

/**
 * @var {color}
 * The color to use for the "arrow" tree icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tree-arrow-glyph-color: $tree-glyph-color !dynamic;

/**
* @var {string/list}
* Glyph for the "expanded arrow" tree icon when {@link Global_CSS#$enable-font-icons} is `true`.
*/
$tree-arrow-expanded-glyph: $fa-var-caret-down $tree-glyph-font-size $font-icon-font-family !dynamic;

/**
 * @var {color}
 * The color to use for the "expanded arrow" icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tree-arrow-expanded-glyph-color: $tree-arrow-glyph-color !dynamic;

/**
* @var {string/list}
* Glyph for the "expand" tree icon when {@link Global_CSS#$enable-font-icons} is `true`.
*/
$tree-expand-glyph: $fa-var-plus-square 14px $font-icon-font-family !dynamic;

/**
 * @var {color}
 * The color to use for the "expand" tree icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tree-expand-glyph-color: $tree-glyph-color !dynamic;

/**
* @var {string/list}
* Glyph for the "collapse" tree icon when {@link Global_CSS#$enable-font-icons} is `true`.
*/
$tree-collapse-glyph: $fa-var-minus-square 14px $font-icon-font-family !dynamic;

/**
 * @var {color}
 * The color to use for the "collapse" tree icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tree-collapse-glyph-color: $tree-glyph-color !dynamic;

/**
 * @var {color}
 * The color to use for the Tree checkbox when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tree-checkbox-glyph-color: $form-checkbox-glyph-color !dynamic;

/**
 * @var {string/list}
 * The glyph for the Tree checkbox when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tree-checkbox-glyph: $form-checkbox-glyph !dynamic;

/**
 * @var {string/list}
 * The glyph for the Tree checkbox in "checked" state when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tree-checkbox-checked-glyph: $form-checkbox-checked-glyph !dynamic;