$accordion-header-color: #fff !dynamic;
$accordion-header-background-color: #5c6b82 !dynamic;
$accordion-header-over-background-color: $accordion-header-background-color !dynamic;
$accordion-background-color: $base-highlight-color !dynamic;
$accordion-tool-background-image: 'tools/tool-sprites' !dynamic;