package component

import "github.com/codekoala/network-shaper/netem"

templ RulesForm(device string, cfg *netem.Netem) {
  <form hx-post="/stage" hx-target="this">
    <input type="hidden" name="device" value={ device } />

    @DelaySettings(cfg)
    @RateLimitSettings(cfg)
    @CorruptionSettings(cfg)
    @DuplicationSettings(cfg)
    @PacketLossSettings(cfg)
  </form>
}
