package component

import "github.com/codekoala/network-shaper/netem"

templ RulesForm(cfg *netem.Netem) {
  @DelaySettings(cfg)
  @RateLimitSettings(cfg)
  @CorruptionSettings(cfg)
  @DuplicationSettings(cfg)
  @PacketLossSettings(cfg)
}
