$datepicker-background-color: #21252e !dynamic;
$datepicker-border-color: #798294 !dynamic;
$datepicker-item-today-border-color: #9999aa !dynamic;
$datepicker-header-background-color: #5c6980 !dynamic;
$datepicker-column-header-background-color: #3a4051 !dynamic;
$datepicker-column-header-color: #fff !dynamic;
$datepicker-column-header-border-color: #535b5c !dynamic;
$datepicker-item-height: 25px !dynamic;
$datepicker-item-color: #fff !dynamic;
$datepicker-item-hover-background-color: #7e5530 !dynamic;
$datepicker-item-selected-border-color: #864900 !dynamic;
$datepicker-item-selected-background-color: #e5872c !dynamic;
$datepicker-month-button-color: #fff !dynamic;
$datepicker-monthpicker-height: 172px !dynamic;
$datepicker-monthpicker-item-color: #fff !dynamic;
$datepicker-monthpicker-item-border: 0 none !dynamic;
$datepicker-monthpicker-item-selected-background-color: $datepicker-item-selected-background-color !dynamic;
$datepicker-arrow-opacity: 1 !dynamic;
$datepicker-arrow-opacity-over: .7 !dynamic;
