$loadmask-msg-background-color: #3f4757 !dynamic;
$loadmask-msg-border-color: #222233 !dynamic;
$loadmask-msg-inner-border-color: #555566 !dynamic;
$loadmask-msg-inner-background-color: #232d38 !dynamic;
$loadmask-msg-inner-color: #fff !dynamic;
$loadmask-msg-inner-padding: 5px 10px !dynamic;
$loadmask-msg-inner-icon: null !dynamic;