$progress-border-color: #18181a !dynamic;
$progress-background-color: #232d38 !dynamic;
$progress-text-color-front: #000 !dynamic;
$progress-text-color-back: #fff !dynamic;
$progress-bar-background-color: $orange !dynamic;