/**
 * @class Ext.form.Panel
 */

.x-form {
    .x-scroll-container {
        background-color: #d5dbe0;
    }

    > input[type=submit] {
    	display: none;
    }
}

.x-form-label {
    @include label();
    padding: $form-spacing;

    span {
        font-size: 15px;
    }
}
