$menu-background-color: #414551 !dynamic;
$menu-text-color: #fff !dynamic;
$menu-border-color: darken($panel-border-color, 15%) !dynamic;
$menu-item-active-background-color: $orange !dynamic;
$menu-item-active-border-color: darken($orange, 5) !dynamic;
$menu-separator-border-color: #222233 !dynamic;
$menu-separator-background-color: #666666 !dynamic;

$menu-scroller-opacity: 1 !dynamic;
$menu-scroller-opacity-over: .8 !dynamic;
$menu-scroller-opacity-pressed: .6 !dynamic;