/**
 * @class Ext.tab.Bar
 */

/**
 * @var {number/list}
 * The padding of the Tab Bar
 */
$tabbar-padding: 0 !dynamic;

/**
 * @var {number/list}
 * The padding of the Tab Bar when {@link #plain} is `true`.
 */
$tabbar-plain-padding: $tabbar-padding !dynamic;

/**
 * @var {color}
 * The base color of the Tab Bar
 */
$tabbar-base-color: $base-color !dynamic;

/**
 * @var {string/list}
 * The background-gradient of the Tab Bar. Can be either the name of a predefined gradient
 * or a list of color stops. Used as the `$type` parameter for 
 * {@link Global_CSS#background-gradient}.
 */
$tabbar-background-gradient: 'tabbar' !dynamic;

/**
 * @var {color}
 * The border-color of the Tab Bar
 */
$tabbar-border-color: $panel-header-border-color !dynamic;

/**
 * @var {number/list}
 * The border-width of the Tab Bar
 */
$tabbar-border-width: 1px 1px 0 !dynamic;

/**
 * @var {number}
 * The height of the Tab Bar strip
 */
$tabbar-strip-height: 3px !dynamic;

/**
 * @var {color}
 * The border-color of the Tab Bar strip
 */
$tabbar-strip-border-color: $panel-header-border-color !dynamic;

/**
 * @var {color}
 * The background-color of the Tab Bar strip
 */
$tabbar-strip-background-color: $tab-base-color-active !dynamic;

/**
 * @var {number/list}
 * The border-width of the Tab Bar strip
 */
$tabbar-strip-border-width: 1px 0 0 !dynamic;

/**
 * @var {number}
 * The width of the Tab Bar scrollers
 */
$tabbar-scroller-width: 24px !dynamic;

/**
 * @var {number}
 * The height of the Tab Bar scrollers
 */
$tabbar-scroller-height: 24px !dynamic;

/**
 * @var {number/list}
 * The margin of "top" Tab Bar scroller buttons
 */
$tabbar-scroller-top-margin: 0 !dynamic;

/**
 * @var {number/list}
 * The margin of "right" Tab Bar scroller buttons
 */
$tabbar-scroller-right-margin: 0 !dynamic;

/**
 * @var {number/list}
 * The margin of "bottom" Tab Bar scroller buttons
 */
$tabbar-scroller-bottom-margin: 0 !dynamic;

/**
 * @var {number/list}
 * The margin of "left" Tab Bar scroller buttons
 */
$tabbar-scroller-left-margin: 0 !dynamic;

/**
 * @var {string}
 * The cursor of the Tab Bar scrollers
 */
$tabbar-scroller-cursor: pointer !dynamic;

/**
 * @var {string}
 * The cursor of disabled Tab Bar scrollers
 */
$tabbar-scroller-cursor-disabled: default !dynamic;

/**
 * @var {number}
 * The opacity of Tab Bar scrollers
 */
$tabbar-scroller-opacity: 0.5 !dynamic;

/**
 * @var {number}
 * The opacity of hovered Tab Bar scrollers
 */
$tabbar-scroller-opacity-over: 0.6 !dynamic;

/**
 * @var {number}
 * The opacity of pressed Tab Bar scrollers
 */
$tabbar-scroller-opacity-pressed: 0.7 !dynamic;

/**
 * @var {number}
 * The opacity of disabled Tab Bar scrollers
 */
$tabbar-scroller-opacity-disabled: 0.25 !dynamic;

/**
 * @var {color}
 * The color to use for Tab Bar scroller icons when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tabbar-scroller-glyph-color: $neutral-color !dynamic;

/**
 * @var {color}
 * The color to use for "plain" Tab Bar scroller icons when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tabbar-plain-scroller-glyph-color: $tabbar-scroller-glyph-color !dynamic;

/**
 * @var {number}
 * The font size for Tab Bar scroller icons when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tabbar-scroller-glyph-font-size: 16px !dynamic;

/**
 * @var {string/list}
 * Glyph for the "top" scroller icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tabbar-scroller-top-glyph: $fa-var-chevron-up $tabbar-scroller-glyph-font-size $font-icon-font-family !dynamic;

/**
 * @var {string/list}
 * Glyph for the "right" scroller icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tabbar-scroller-right-glyph: $fa-var-chevron-right $tabbar-scroller-glyph-font-size $font-icon-font-family !dynamic;

/**
 * @var {string/list}
 * Glyph for the "bottom" scroller icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tabbar-scroller-bottom-glyph: $fa-var-chevron-down $tabbar-scroller-glyph-font-size $font-icon-font-family !dynamic;

/**
 * @var {string/list}
 * Glyph for the "left" scroller icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$tabbar-scroller-left-glyph: $fa-var-chevron-left $tabbar-scroller-glyph-font-size $font-icon-font-family !dynamic;

/**
 * @var {boolean}
 * `true` to use classic-style scroller buttons.  When `true` scroller buttons are given their
 * hover state by changing their background-position,  When `false` scroller buttons are
 * given their hover state by applying opacity.
 */
$tabbar-classic-scrollers: false !dynamic;

/**
 * @var {boolean}
 * true to include separate scroller icons for "plain" tabbars
 */
$tabbar-scroller-include-plain-icon: false !dynamic;

/**
 * @var {boolean}
 * if true, the tabbar will use symmetrical scroller icons.  Top and bottom tabbars
 * will share icons, and Left and right will share icons.
 */
$tabbar-scroller-symmetrical-icons: true !dynamic;

/**
 * @var {boolean}
 * True to include the "default" tabbar UI
 */
$include-tabbar-default-ui: $include-default-uis !dynamic;
