//$rating-picker-color: rgb(96, 169, 23) !dynamic;
//$rating-picker-color: #FFE850 !dynamic;
$rating-picker-color: #ccc !dynamic;

$rating-picker-hover-color: $rating-picker-color !dynamic;

//$rating-picker-selected-color: inherit !dynamic;
$rating-picker-selected-color: #FFE850 !dynamic;

$rating-picker-selected-hover-color: inherit !dynamic;

$rating-picker-opacity: 0.8 !dynamic;

$rating-picker-hover-opacity: 1 !dynamic;
