$form-field-border-width: 2px !dynamic;
$form-field-border-color: #737b8c !dynamic;
$form-field-background-color: #34383f !dynamic;
$form-field-color: #fff !dynamic;
$form-field-focus-border-color: #ff9c33 !dynamic;
$form-field-invalid-background-color: #15171A !dynamic;
$form-field-invalid-border-color: #C30 !dynamic;