/** @class Ext.layout.container.Accordion */
//

$accordion-header-background-color: adjust-color($base-color, $saturation: 13%, $lightness: 7%) !dynamic;
$accordion-header-padding: 4px 5px 5px 5px !dynamic;
$accordion-header-border-color: $panel-header-inner-border-color $panel-header-border-color $panel-header-border-color !dynamic;