/** @class Ext.container.ButtonGroup */
//

$btn-group-framed-background-color: adjust-color($base-color, $hue: 1deg, $saturation: -4%, $lightness: 3.8%) !dynamic;
$btn-group-border-color: adjust-color($base-color, $hue: -5deg, $saturation: -27%, $lightness: -6%) !dynamic;
$btn-group-inner-border-color: adjust-color($base-color, $saturation: -9%, $lightness: 8.5%) !dynamic;
$btn-group-header-margin: 2px 2px 0 2px !dynamic;
$btn-group-header-font-size: ceil($font-size * .9) !dynamic;
$btn-group-header-color: adjust-color($base-color, $hue: 2.6deg, $saturation: -9%, $lightness: -38.5%) !dynamic;
$btn-group-header-background-color: adjust-color($base-color, $hue: -2deg, $saturation: 5%, $lightness: 1%) !dynamic;
$btn-group-header-line-height: 15px !dynamic;
$btn-group-header-padding: 1px 0 !dynamic;