$toolbar-border-color: $neutral-dark-color !dynamic;
$toolbar-tool-background-image: 'tools/tool-sprites-dark' !dynamic;
$toolbar-footer-background-color: mix(#000, $neutral-light-color, 6%) !dynamic;