$accordion-header-color: $panel-header-color !dynamic;
$accordion-header-background-color: $panel-light-header-background-color !dynamic;
$accordion-header-over-background-color: $accordion-header-background-color !dynamic;
$accordion-header-border-width: 0 0 1px !dynamic;
$accordion-header-border-color: $accordion-header-background-color $neutral-dark-color $neutral-dark-color !dynamic;
$accordion-padding: 0 !dynamic;
$accordion-item-margin: 0 !dynamic;
$accordion-tool-background-image: 'tools/tool-sprites' !dynamic;
