$tabbar-base-color: $base-color !dynamic;
$tabbar-strip-height: 0 !dynamic;
$tabbar-strip-border-width: 0 !dynamic;
$tabbar-strip-border-color: $neutral-color !dynamic;
$tabbar-padding: 8px 4px 0 8px !dynamic;
$tabbar-plain-padding: 8px 0 0 !dynamic;
