$window-background-color: #3f4757 !dynamic;
$window-body-background-color: #1f2833 !dynamic;
$window-body-color: #fff !dynamic;
$window-body-border-color: #18181a !dynamic;
$window-inner-border-color: #414b5c !dynamic;
$window-header-color: #fff !dynamic;