/** @class Ext.grid.feature.Grouping */
//

$grid-grouped-title-color: #666 !dynamic;
$grid-grouped-header-border-width: 0 0 1px 0 !dynamic;
$grid-grouped-header-border-color: $grid-header-border-color !dynamic;
$grid-grouped-header-padding: 7px 4px !dynamic;
$grid-grouped-icon-padding: 0 0 0 17px !dynamic;
$grid-grouped-header-background-color: $neutral-light-color !dynamic;