$accordion-header-color: $color !dynamic;
$accordion-header-font-weight: $font-weight !dynamic;
$accordion-header-background-color: $neutral-highlight-color !dynamic;
$accordion-header-over-background-color: $neutral-light-color !dynamic;
$accordion-header-padding: 12px 10px !dynamic;
$accordion-tool-glyph-color: $base-dark-color !dynamic;

