$horizontal-slider-thumb-width: 28px !dynamic;
$horizontal-slider-thumb-height: 28px !dynamic;
$horizontal-slider-end-cap-width: 14px !dynamic;
$vertical-slider-thumb-width: 28px !dynamic;
$vertical-slider-thumb-height: 28px !dynamic;
$vertical-slider-end-cap-height: 14px !dynamic;