/**
 * @class Ext.layout.container.Accordion
 */

/**
 * @var {color}
 * The text color of Accordion headers
 */
$accordion-header-color: #000 !dynamic;

/**
 * @var {color}
 * The background-color of Accordion headers
 */
$accordion-header-background-color: $base-color !dynamic;

/**
 * @var {color}
 * The background-color of Accordion headers when hovered
 */
$accordion-header-over-background-color: $accordion-header-background-color !dynamic;

/**
 * @var {number}
 * The size of {@link Ext.panel.Tool Tools} in Accordion headers
 */
$accordion-header-tool-size: $tool-size !dynamic;

/**
 * @var {number/list}
 * The border-width of Accordion headers
 */
$accordion-header-border-width: 1px 0 !dynamic;

/**
 * @var {number/list}
 * The border-color of Accordion headers
 */
$accordion-header-border-color: $panel-header-border-color !dynamic;

/**
 * @var {number/list}
 * The padding of Accordion headers
 */
$accordion-header-padding: 4px 5px !dynamic;

/**
 * @var {string}
 * The font-weight of Accordion headers
 */
$accordion-header-font-weight: $font-weight !dynamic;

/**
 * @var {string}
 * The font-family of Accordion headers
 */
$accordion-header-font-family: $font-family !dynamic;

/**
 * @var {string}
 * The text-transform property of Accordion headers
 */
$accordion-header-text-transform: none !dynamic;

/**
 * @var {number}
 * The body border-width of Accordion layout element
 */
$accordion-body-border-width: 0 !dynamic;

/**
 * @var {color}
 * The background-color of the Accordion layout element
 */
$accordion-background-color: #fff !dynamic;

/**
 * @var {color}
 * The background-color of the Accordion layout element
 */
$accordion-padding: 0 !dynamic;

/**
 * @var {number/list}
 * The padding of the Accordion layout element
 */
$accordion-item-margin: 0 !dynamic;

/**
 * @var {string}
 * The sprite image to use for {@link Ext.panel.Tool Tools} in Accordion headers
 */
$accordion-tool-background-image: 'tools/tool-sprites' !dynamic;

/**
 * @var {color}
 * The color to use for Accordion expand/collapse tool icons when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$accordion-tool-glyph-color: $base-color !dynamic;

/**
 * @var {number}
 * The font size to use for Accordion expand/collapse tool icons when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$accordion-tool-glyph-font-size: 16px !dynamic;

/**
 * @var {string/list}
 * Glyph for the Accordion's "expand" tool icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$accordion-tool-expand-glyph: $fa-var-plus $accordion-tool-glyph-font-size $font-icon-font-family !dynamic;

/**
 * @var {string/list}
 * Glyph for the Accordion's "collapse" tool icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$accordion-tool-collapse-glyph: $fa-var-minus $accordion-tool-glyph-font-size $font-icon-font-family !dynamic;
