$btn-group-border-color: $panel-light-border-color !dynamic;
$btn-group-framed-border-width: 1px !dynamic;
$btn-group-framed-border-radius: 2px !dynamic;
$btn-group-header-font-size: round($font-size * 1.1) !dynamic;
$btn-group-header-padding: 8px 8px 7px !dynamic;
$btn-group-border-spacing: 6px !dynamic;
