/** @class Ext.panel.Panel */
//

$panel-header-background-gradient: color-stops(#F0F0F0, #D7D7D7) !dynamic;
$panel-border-color: #D0D0D0 !dynamic;
$panel-header-color: #333 !dynamic;
$panel-frame-background-color: #f1f1f1 !dynamic;