/**
 * @class Ext.tip.Tip
 */

/**
 * @var {color}
 * The background-color of the Tip
 */
$tip-background-color: #fff !dynamic;

/**
 * @var {string/list}
 * The background-gradient of the Tip. Can be either the name of a predefined gradient or a
 * list of color stops. Used as the `$type` parameter for {@link Global_CSS#background-gradient}.
 */
$tip-background-gradient: 'none' !dynamic;

/**
 * @var {color}
 * The text color of the Tip body
 */
$tip-body-color: #000 !dynamic;

/**
 * @var {number}
 * The font-size of the Tip body
 */
$tip-body-font-size: $font-size !dynamic;

/**
 * @var {string}
 * The font-weight of the Tip body
 */
$tip-body-font-weight: $font-weight !dynamic;

/**
 * @var {number/list}
 * The padding of the Tip body
 */
$tip-body-padding: 3px !dynamic;

/**
 * @var {color}
 * The text color of any anchor tags inside the Tip body
 */
$tip-body-link-color: $tip-body-color !dynamic;

/**
 * @var {color}
 * The text color of the Tip header
 */
$tip-header-color: $tip-body-color !dynamic;

/**
 * @var {number}
 * The font-size of the Tip header
 */
$tip-header-font-size: $tip-body-font-size !dynamic;

/**
 * @var {string}
 * The font-weight of the Tip header
 */
$tip-header-font-weight: bold !dynamic;

// private - for 4.x compat
$tip-header-body-padding: 3px 3px 0 3px !dynamic;

/**
 * @var {number/list}
 * The padding of the Tip header's body element
 */
$tip-header-padding: $tip-header-body-padding !dynamic;

/**
 * @var {color}
 * The border-color of the Tip
 */
$tip-border-color: $panel-border-color !dynamic;

/**
 * @var {number}
 * The border-width of the Tip
 */
$tip-border-width: 1px !dynamic;

/**
 * @var {number}
 * The border-radius of the Tip
 */
$tip-border-radius: 3px !dynamic;

/**
 * @var {color}
 * The inner border-color of the form field error Tip
 */
$tip-error-inner-border-color: #fff !dynamic;

/**
 * @var {number}
 * The inner border-width of the form field error Tip
 */
$tip-error-inner-border-width: 0 !dynamic;

/**
 * @var {color}
 * The border-color of the form field error Tip
 */
$tip-error-border-color: $tip-border-color !dynamic;

/**
 * @var {number}
 * The border-radius of the form field error Tip
 */
$tip-error-border-radius: $tip-border-radius !dynamic;

/**
 * @var {number}
 * The border-width of the form field error Tip
 */
$tip-error-border-width: $tip-border-width !dynamic;

/**
 * @var {color}
 * The background-color of the form field error Tip
 */
$tip-error-background-color: $tip-background-color !dynamic;

/**
 * @var {number/list}
 * The padding of the form field error Tip's body element
 */
$tip-error-body-padding: $tip-body-padding !dynamic;

/**
 * @var {color}
 * The text color of the form field error Tip's body element
 */
$tip-error-body-color: $tip-body-color !dynamic;

/**
 * @var {number}
 * The font-size of the form field error Tip's body element
 */
$tip-error-body-font-size: $tip-body-font-size !dynamic;

/**
 * @var {string}
 * The font-weight of the form field error Tip's body element
 */
$tip-error-body-font-weight: $tip-body-font-weight !dynamic;

/**
 * @var {color}
 * The color of anchor tags in the form field error Tip's body element
 */
$tip-error-body-link-color: $tip-body-link-color !dynamic;

/**
 * @var {number}
 * The space between {@link Ext.panel.Tool Tools} in the header
 */
$tip-tool-spacing: 4px !dynamic;

/**
 * @var {string}
 * The sprite to use for the header {@link Ext.panel.Tool Tools}
 */
$tip-tool-background-image: 'tools/tool-sprites' !dynamic;

/**
 * @var {boolean}
 * True to include the "default" tip UI
 */
$include-tip-default-ui: $include-default-uis !dynamic;

/**
 * @var {boolean}
 * True to include the "form-invalid" tip UI
 */
$include-tip-form-invalid-ui: $include-default-uis !dynamic;