/** @class Ext.form.field.Base */
//

$form-field-height: 22px !dynamic;
$form-toolbar-field-height: 20px !dynamic;
$form-field-border-color: #B5B8C8 !dynamic;
$form-field-focus-border-color: adjust-color($base-color, $hue: -4.322deg, $saturation: -1.065%, $lightness: -16.863%) !dynamic;
$form-field-font-size: $font-size !dynamic;
$form-toolbar-field-font-size: ceil($font-size * .9) !dynamic;
$include-field-toolbar-ui: $include-default-uis and $include-ext-toolbar-toolbar !dynamic;
