$tag-field-item-background-color: adjust-color($base-color, $hue: 0deg, $saturation: 0.542%, $lightness: 7.843%) !dynamic;
$tag-field-item-border-color: adjust-color($base-color, $hue: 0deg, $saturation: 7.644%, $lightness: -8.627%) !dynamic;
$tag-field-item-over-background-color: adjust-color($tag-field-item-background-color, $lightness: -12%) !dynamic;
$tag-field-item-over-border-color: adjust-color($tag-field-item-border-color, $lightness: -12%) !dynamic;
$tag-field-item-selected-background-color: desaturate(darken($base-color, 23.33%), 11.55%) !dynamic;
$tag-field-item-selected-border-color: saturate(darken($base-color, 38.63%), 5.65%) !dynamic;
$tag-field-item-selected-color: #fff !dynamic;
$tag-field-item-close-icon-size: 11px !dynamic;
$tag-field-item-height: 16px !dynamic;
