/** @class Ext.form.field.Trigger */
//

$form-trigger-width: 17px !dynamic;
$form-trigger-border-width: 0 0 1px !dynamic;
$form-trigger-border-color-focus: $form-field-focus-border-color !dynamic;
$form-trigger-border-color-over: $form-trigger-border-color-focus !dynamic;
$form-trigger-background-color: transparent !dynamic;