/** @class Ext.menu.Menu */
//

$menu-separator-size: 1px !dynamic;
$menu-item-active-background-color: mix(#fff, $base-light-color, 50%) !dynamic;
$menu-item-border-width: 0 !dynamic;
$menu-padding: 0 !dynamic;
$menu-glyph-color: #808080 !dynamic;
$menu-item-text-vertical-offset: 1px !dynamic;

$menu-item-icon-horizontal-spacing: 5px !dynamic;
$menu-item-text-horizontal-spacing: 5px !dynamic;

// Margins for non-MenuItem components in menus
$menu-component-margin: 2px !dynamic;
