$toolbar-border-color: #18181a !dynamic;
$toolbar-background-color: #3a3e4f !dynamic;
$toolbar-footer-background-color: $toolbar-background-color !dynamic;
$toolbar-text-color: #fff !dynamic;
$toolbar-separator-color: #1b1b29 !dynamic;
$toolbar-separator-highlight-color: #5d5d6e !dynamic;
$toolbar-tool-background-image: 'tools/tool-sprites' !dynamic;