package view

import (
  "github.com/codekoala/network-shaper/view/component"
)

templ InboundRulesForm() {
  <div>
    <h1>Inbound Traffic Shaping</h1>
  </div>

  <div>
    These settings apply to traffic entering the network controlled by the network shaper.
  </div>

  @component.RulesForm()
}
