/**
 * @class Ext.form.CheckboxGroup
 */

/**
 * @var {number/list}
 * The padding of the CheckboxGroup body element
 */
$form-checkboxgroup-body-padding: 0 4px !dynamic;

/**
 * @var {color}
 * The border color of the CheckboxGroup body element when in an invalid state.
 */
$form-checkboxgroup-body-invalid-border-color: $form-field-invalid-border-color !dynamic;

/**
 * @var {string}
 * The border style of the CheckboxGroup body element when in an invalid state.
 */
$form-checkboxgroup-body-invalid-border-style: solid !dynamic;

/**
 * @var {number}
 * The border width of the CheckboxGroup body element when in an invalid state.
 */
$form-checkboxgroup-body-invalid-border-width: 1px !dynamic;

/**
 * @var {string}
 * The background image of the CheckboxGroup body element when in an invalid state.
 */
$form-checkboxgroup-body-invalid-background-image: $form-field-invalid-background-image !dynamic;

/**
 * @var {string}
 * The background-repeat of the CheckboxGroup body element when in an invalid state.
 */
$form-checkboxgroup-body-invalid-background-repeat: $form-field-invalid-background-repeat !dynamic;

/**
 * @var {string}
 * The background-position of the CheckboxGroup body element when in an invalid state.
 */
$form-checkboxgroup-body-invalid-background-position: $form-field-invalid-background-position !dynamic;

/**
 * @var {boolean}
 * True to include the "default" checkboxgroup UI
 */
$include-checkboxgroup-default-ui: $include-field-default-ui !dynamic;