$menu-item-active-background-color: $base-highlight-color !dynamic;
$menu-item-active-text-color: #fff !dynamic;
$menu-item-height: 32px !dynamic;
$menu-item-arrow-height: 16px !dynamic;
$menu-item-arrow-width: 16px !dynamic;
$menu-item-arrow-margin: 0 4px 0 !dynamic;
$menu-item-arrow-glyph-color: $neutral-dark-color !dynamic;
$menu-item-icon-size: 24px !dynamic;
$menu-glyph-color: $neutral-dark-color !dynamic;
$menu-glyph-font-size: 16px !dynamic;
$menu-item-checkbox-glyph-color: $neutral-dark-color !dynamic;
$menu-item-icon-horizontal-spacing: 4px !dynamic;
$menu-item-text-horizontal-spacing: 8px !dynamic;
$menu-glyph-opacity: 1 !dynamic;
$menu-item-active-glyph-color: $menu-item-active-text-color !dynamic;
$menu-scroller-glyph-color: $neutral-dark-color !dynamic;
